*::selection {
  background-color: goldenrod;
  color: black;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #191825;
  scroll-behavior: smooth;
}

/**Headers**/
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #cc0000;
  color: white;
  font-family: sans-serif;
  padding: 1em;
  font-weight: 700;
  font-size: 28.8px;
  padding-bottom: 10px;
}

/**All common classes**/
.Paragraph {
  margin-left: 10px;
  padding: 2px;
  font-size: 17.36px;
  font-weight: 500;
  color: #E384FF;
}

.UlLi {
  margin-left: 25px;
  color: #fff;
  padding: 8px;
}

.UlLiLi {
  margin-left: 50px;
  color: #fff;
  padding: 3px;
  list-style: circle;
}

.Code {
  margin-left: 20px;
  background-color: #FFA3FD;
  font-weight: 900;
  color: black;
}

.Referencea {
  color: goldenrod;
}


/**Sections**/

.main-section {
  margin: 25px;
}

#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 22%;
  height: 100%;
  overflow-y: auto;
  background-color: #191825;
  text-align: left;
  margin: 0;
  padding: 0;
}


.nav-link {
  text-decoration: none;
  display: block;
  font-size: 20px;
  padding: 8px;
  margin-left: 20px;
  color: goldenrod;
}

.nav-bar-header {
  margin-left: 15px;
  font-size: 34px;
  color: #fff;
  font-weight: 700;
  margin-top: 50px;
  text-align: left;
}

.nav-link:hover {
  color: #fff;
}

/**Main-doc**/
#main-doc {
  position: absolute;
  margin-left: 300px;
  padding: 40px;
}


/**Media Query**/
@media screen and (max-width: 1075px) {
  #main-doc {
      margin-left: 200px;
  }

  .nav-link {
      font-size: 18px;
      padding: 6px;
      margin-left: 15px;
  }

  .navbar-header {
      font-size: 28px;
      margin-top: 40px;
  }
}


@media screen and (max-width: 1021px) and (min-width: 969px) {
  #main-doc {
      margin-left: 180px;
  }

  .nav-link {
      font-size: 18px;
      padding: 6px;
      margin-left: 10px;
  }

  .nav-bar-header {
      font-size: 28px;
      margin-top: 40px;
  }
}

@media screen and (max-width: 970px) {
  #main-doc {
      margin-left: 180px;
  }

  .nav-link {
      font-size: 18px;
      padding: 6px;
      margin-left: 15px;
  }

  .nav-bar-header {
      font-size: 28px;
      margin-top: 40px;
  }
}

@media screen and (max-width: 915px) {
  #main-doc {
      margin-left: 160px;
  }

  .nav-link {
      font-size: 18px;
      padding: 6px;
      margin-left: 15px;
  }

  .nav-bar-header {
      font-size: 28px;
      margin-top: 40px;
  }
}

@media screen and (max-width: 839px) {
  #main-doc {
      margin-left: 140px;
  }

  .nav-link {
      font-size: 16px;
      padding: 6px;
      margin-left: 10px;
  }

  .nav-bar-header {
      font-size: 24px;
      margin-top: 40px;
  }
}

@media screen and (max-width: 771px) and (min-width: 660px) {
  #main-doc {
      margin-left: 120px;
  }

  .nav-link {
      font-size: 16px;
      padding: 6px;
      margin-left: 10px;
  }

  .nav-bar-header {
      font-size: 24px;
      margin-top: 40px;
  }
}

@media screen and (max-width: 661px) {
  #main-doc {
      margin-left: 100px;
  }

  .nav-link {
      font-size: 16px;
      padding: 5.5px;
      margin-left: 10px;
  }

  .nav-bar-header {
      font-size: 24px;
      margin-top: 40px;
  }
}

@media screen and (max-width: 613px) {
  .nav-link {
      font-size: 16px;
      padding: 5px;
      margin-left: 10px;
  }

  .nav-bar-header {
      font-size: 23px;
      margin-top: 40px;
      margin-left: 6px;
  }
}

@media screen and (max-width: 557px) {
  #main-doc {
      margin-left: 80px;
  }

  .nav-link {
      font-size: 15.5px;
      padding: 6px;
      margin-left: 8px;
  }

  .nav-bar-header {
      font-size: 20px;
      margin-top: 30px;
      margin-left: 5px;
  }
}

@media screen and (max-width: 487px) {
  .nav-bar-header {
      font-size: 19px;
      margin-top: 30px;
      margin-left: 4px;
  }
}

@media screen and (max-width: 467px) and (min-width: 424px) {
  #main-doc {
      margin-left: 60px;
  }

  .nav-link {
      font-size: 13px;
      padding: 5px;
      margin-left: 8px;
  }

  .nav-bar-header {
      font-size: 18px;
      margin-top: 30px;
      margin-left: 3px;
  }
}

@media screen and (max-width: 423px) {
  #main-doc {
      margin-left: 40px;
      text-align: justify;
  }

  .nav-link {
      font-size: 12px;
      padding: 5px;
      margin-left: 5px;
  }

  .nav-bar-header {
      font-size: 18px;
      margin-top: 30px;
      margin-left: 3px;
  }
}

@media screen and (max-width: 420px) and (min-width: 388px) {
  #main-doc {
      margin-left: 40px;
      text-align: justify;
  }

  .nav-link {
      font-size: 12px;
      padding: 4px;
      margin-left: 5px;
  }

  .nav-bar-header {
      font-size: 16.5px;
      margin-top: 30px;
      margin-left: 3px;
  }
}

@media screen and (max-width: 387px) and (min-width: 300px) {
  #main-doc {
      margin-left: 40px;
      text-align: justify;
  }

  .nav-link {
      font-size: 12px;
      padding: 4px;
      margin-left: 5px;
  }

  .nav-bar-header {
      font-size: 14px;
      margin-top: 30px;
      margin-left: 3px;
  }
}

.flex-item {
  color: white;
  padding: 10px;
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 10px;
    }
